/*!------------------------------------------------------------------

[MAIN STYLESHEET]

PROJECT:	TheNftPeople
VERSION:	1.0.0
------------------------------------------------------------------- */
/*  typography */
@font-face {
  font-family: "press-start";
  src: url("../fonts/PressStart2P-Regular.ttf");
}

@font-face {
  font-family: "poppins-medium";
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "poppins-semibold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "russo-one";
  src: url("../fonts//RussoOne-Regular.ttf");
}

body {
  line-height: 1.2;
  font-family: "poppins-medium", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: white;
}

p,
.paragraph {
  font-size: 15px;
  line-height: 2.25;
  font-family: poppins-semibold;
}

@media (max-width: 575px) {
  p,
  .paragraph {
    font-size: 14px;
  }
}

h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: "russo-one";
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 60px;
  font-family: russo-one;
}

@media (max-width: 575px) {
  h1,
  .h1 {
    font-size: 45px;
  }
}

h2,
.h2 {
  font-size: 40px;
}

@media (max-width: 575px) {
  h2,
  .h2 {
    font-size: 30px;
  }
}

h3,
.h3 {
  font-size: 25px;
}

@media (max-width: 575px) {
  h3,
  .h3 {
    font-size: 20px;
  }
}

h4,
.h4 {
  font-size: 20px;
}

@media (max-width: 575px) {
  h4,
  .h4 {
    font-size: 18px;
  }
}

h5,
.h5 {
  font-size: 18px;
}

@media (max-width: 575px) {
  h5,
  .h5 {
    font-size: 16px;
  }
}

h6,
.h6 {
  font-size: 16px;
}

@media (max-width: 575px) {
  h6,
  .h6 {
    font-size: 14px;
  }
}

.hero-btn,
.hero-btn-outline {
  width: 190px;
  text-align: center;
  padding: 1.25em 0em;
  color: white;
  font-family: poppins-semibold;
  letter-spacing: 0.5px;
  font-weight: normal;
  border-radius: 5px;
  margin-top: 1.5em;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  .hero-btn,
  .hero-btn-outline {
    padding: 1em 0em;
  }
}

.hero-btn {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #2755b7, #6e43a3);
  background-size: 400% 400%;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.hero-btn:hover {
  color: white;
  -webkit-animation: gradient 4s ease infinite;
          animation: gradient 4s ease infinite;
}

.hero-btn-outline {
  opacity: 0;
  background-color: white;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  font-weight: bold;
  color: #6e43a3;
  text-shadow: 1px 1px 10px rgba(110, 67, 163, 0.5);
}

.hero-btn-outline:hover {
  background-color: #fe8336;
  color: white;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: #10073a;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

button {
  border: none;
  outline: none;
  background: none;
}

button.navbar-toggler.ml-auto.hidden-sm-up.float-xs-right:focus {
  outline: none !important;
}

.underline {
  position: relative;
}

.underline::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  width: 10%;
  height: 4px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #28b7f7;
  -webkit-box-shadow: 0px 0px 10px #28b7f7;
          box-shadow: 0px 0px 10px #28b7f7;
}

.centered-p {
  font-family: poppins-medium;
  text-align: center;
  width: 55%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .centered-p {
    width: 75%;
  }
}

@media (max-width: 575px) {
  .centered-p {
    width: 90%;
  }
}

.overlay {
  position: relative;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  pointer-events: none;
  opacity: 0.4;
  z-index: -1;
}

.wrapper {
  padding: 0 3rem;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    padding: 0 6rem;
  }
}

.margin-top {
  margin-top: 8em;
}

@media (max-width: 767px) {
  .margin-top {
    margin-top: 0;
    padding-top: 6em;
  }
}

@media (max-width: 575px) {
  .margin-top {
    padding-top: 4em;
  }
}

.site-heading {
  text-transform: uppercase;
  font-family: press-start;
  line-height: 2em;
  letter-spacing: 0.16em;
  color: #ffffff;
  text-shadow: 3px 5px 5px #279acd;
}

@media (max-width: 991px) {
  .site-heading {
    font-size: 2em;
  }
}

@media (max-width: 767px) {
  .site-heading {
    font-size: 1.7em;
    text-shadow: 2px 3px 5px #279acd;
  }
}

@media (max-width: 575px) {
  .site-heading {
    font-size: 1.2em;
  }
}

.circle {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #10073a;
  border: 2px solid #28b7f7;
}

.circle:before, .circle:after {
  content: " ";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: linear-gradient(45deg, #fe8336 12.79%, #28b7f7 65.96%);
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  -webkit-box-shadow: 1px 1px 5px #28b7f7, 1px 1px 10px #28b7f7, 1px 1px 20px #28b7f7, 1px 1px 30px #28b7f7;
          box-shadow: 1px 1px 5px #28b7f7, 1px 1px 10px #28b7f7, 1px 1px 20px #28b7f7, 1px 1px 30px #28b7f7;
  border-radius: inherit;
  z-index: -1;
}

.circle:before {
  -webkit-filter: blur(250px);
          filter: blur(250px);
}

@media (max-width: 991px) {
  .circle {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 767px) {
  .circle {
    width: 40px;
    height: 40px;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

nav {
  font-family: "russo-one";
  letter-spacing: 1px;
  background: rgba(13, 20, 101, 0.8);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 100;
}

nav .logo-text {
  color: #fe8336;
}

nav .navbar-toggler {
  border: none;
  border-radius: 0px;
}

nav .main-nav .nav-link {
  font-family: russo-one;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: whitesmoke;
  position: relative;
}

nav .main-nav .nav-link:hover, nav .main-nav .nav-link:active,
nav .main-nav .nav-link .active {
  color: #fe8336;
}

@media (max-width: 991px) {
  nav {
    background: #0d1465;
  }
  nav .main-nav .nav-link {
    margin: 0.5em 0;
    padding: 0.5em 0em;
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
    overflow: hidden;
  }
  nav .main-nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: -100%;
    width: 100%;
    height: 1px;
    background-color: #fe8336;
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
  }
  nav .main-nav .nav-link:hover::before {
    left: 0%;
  }
  nav .social-links {
    margin: 0.5em 0;
    padding: 0.5em 0em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav .social-links .nav-item {
    margin-right: 1.25em;
  }
}

@media (max-width: 575px) {
  nav .navbar-brand {
    font-size: 1.25em;
  }
  nav .navbar-brand img {
    width: 30px;
  }
  nav #hamburger {
    width: 90%;
    padding: 0;
  }
}

.hero {
  height: 100vh;
  background: url("/assests/background/main-bg.jpg") top right;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.hero .hero-intro h1 {
  letter-spacing: 1px;
  text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.hero .hero-intro .hero-btn-outline {
  margin-left: 1em;
}

@media (max-width: 767px) {
  .hero {
    min-height: 650px;
  }
  .hero .helper-col {
    display: none;
  }
  .hero .hero-intro {
    width: 100%;
    margin-left: 0;
    padding-left: 2em;
  }
  .hero .hero-intro h1 {
    font-size: 40px;
  }
  .hero .hero-intro img {
    width: 30%;
  }
  .hero .hero-intro .hero-btn-outline {
    margin-left: 0.5em;
  }
}

@media (max-width: 437px) {
  .hero .hero-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .hero-intro .hero-btn-outline {
    margin-left: 0em;
  }
}

.project-intro {
  overflow: hidden;
}

.project-intro span {
  color: #fe8336;
}

.project-intro .desc {
  width: 92%;
  margin-left: auto;
}

@media (max-width: 767px) {
  .project-intro .desc {
    width: 100%;
  }
}

.collection-intro .site-heading {
  letter-spacing: 3px;
}

.collection .marquee {
  overflow: hidden;
}

.collection .marquee img {
  border-radius: 3px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.collection .marquee .marquee-left {
  height: 240px;
  margin-bottom: 2em;
  -webkit-animation: scrolling 200s linear infinite;
          animation: scrolling 200s linear infinite;
}

.collection .marquee .marquee-left img {
  width: 240px;
  height: 240px;
}

.collection .marquee .marquee-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-animation: scrolling-right 200s linear infinite;
          animation: scrolling-right 200s linear infinite;
}

.collection .marquee .marquee-right img {
  width: 235px;
  height: 250px;
}

@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(calc(-1 * 240px * 11));
            transform: translateX(calc(-1 * 240px * 11));
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes scrolling {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(calc(-1 * 240px * 11));
            transform: translateX(calc(-1 * 240px * 11));
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes scrolling-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(calc(230px * 7));
            transform: translateX(calc(230px * 7));
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes scrolling-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(calc(230px * 7));
            transform: translateX(calc(230px * 7));
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.roadmap {
  overflow: hidden;
}

.roadmap p {
  font-family: poppins-medium;
  line-height: 25px;
}

.roadmap .hero-btn {
  margin-top: 1em;
}

.roadmap .roadmap-heading .site-heading {
  font-size: 4rem;
  line-height: 1.5em;
}

.roadmap .roadmap-heading .underline::before {
  top: 105%;
  left: 0%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.roadmap .box {
  width: 45%;
  padding: 2em;
  -webkit-box-shadow: 0px 1px 6px rgba(40, 183, 247, 0.5);
          box-shadow: 0px 1px 6px rgba(40, 183, 247, 0.5);
  border-radius: 8px;
}

.roadmap .box h3 {
  font-family: press-start;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #28b7f7;
  text-shadow: 0px 0px 5px #28b7f7;
}

.roadmap .box h5 {
  font-family: poppins-semibold;
  font-size: 1.5rem;
  padding-left: 0.7em;
  border-left: 3px solid white;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 1em;
}

@media (max-width: 767px) {
  .roadmap .box {
    width: 100%;
  }
  .roadmap .roadmap-heading .site-heading {
    font-size: 2rem;
  }
  .roadmap .roadmap-heading .underline::before {
    width: 25%;
  }
}

.team {
  overflow: hidden;
  background-image: url("/assests/background/team-2.png");
  background-size: cover;
  background-position: center;
  padding-top: 5em;
  padding-bottom: 5em;
}

.team .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: black;
}

.team .members .member {
  background-color: #e2e2e2;
  border-radius: 8px;
  margin-bottom: 2em;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.team .members .member-img {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  .team {
    background-size: cover;
    background-position: bottom center;
    margin-top: 2em;
  }
}

@media (max-width: 575px) {
  .team .member-img {
    width: 300px !important;
    height: 290px !important;
  }
}

.faq {
  overflow-x: hidden;
}

.faq span {
  font-family: russo-one;
  font-weight: 400;
  font-size: 1.75em;
  letter-spacing: 1.5px;
}

.faq .questions {
  width: 92%;
  margin-left: auto;
}

.faq .questions .question-wrapper .question {
  border-bottom: 2px solid white;
  padding: 1em 0;
  margin-bottom: 2em;
}

.faq-active {
  background-color: #28b7f7;
}

@media (max-width: 767px) {
  .faq span {
    font-size: 1.5em;
  }
  .faq .questions {
    width: 100%;
  }
  .faq .questions img {
    width: 30px;
  }
}

@media (max-width: 575px) {
  .faq span {
    font-size: 1.2em;
    letter-spacing: 0.5px;
  }
  .faq .question img {
    width: 25px;
  }
}

footer {
  overflow: hidden;
}

footer .deadline {
  height: 2.5px;
  background-color: whitesmoke;
}

footer .footer-end .footer-links a {
  font-family: russo-one;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: whitesmoke;
}

footer .footer-end .footer-links a:hover, footer .footer-end .footer-links a:active {
  color: #fe8336;
}

@media (max-width: 767px) {
  footer .footer-links a {
    font-size: 1em;
    letter-spacing: 0;
    line-height: 35px;
  }
}
/*# sourceMappingURL=style.css.map */