/*  typography */

@font-face {
  font-family: "press-start";
  src: url("../fonts/PressStart2P-Regular.ttf");
}
@font-face {
  font-family: "poppins-medium";
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppins-semibold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "russo-one";
  src: url("../fonts//RussoOne-Regular.ttf");
}

body {
  line-height: 1.2;
  font-family: $text-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p,
.paragraph {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.9;
}

h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  font-family: $subheading-font;
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 60px;
  font-family: russo-one;
  @include mobile {
    font-size: 45px;
  }
}

h2,
.h2 {
  font-size: 40px;
  @include mobile {
    font-size: 30px;
  }
}

h3,
.h3 {
  font-size: 25px;
  @include mobile {
    font-size: 20px;
  }
}

h4,
.h4 {
  font-size: 20px;
  @include mobile {
    font-size: 18px;
  }
}

h5,
.h5 {
  font-size: 18px;
  @include mobile {
    font-size: 16px;
  }
}

h6,
.h6 {
  font-size: 16px;
  @include mobile {
    font-size: 14px;
  }
}
