// Color Variables
$bg-color: #10073a;
$primary-color: #28b7f7;
$secondary-color: #6e43a3;
$text-color: white;

// Font Variables
$heading-font: "press-start", sans-serif;
$subheading-font: "russo-one";
$text-font: "poppins-medium", sans-serif;
$text-bold-font: "poppins-semibold", sans-serif;
